[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django = "*"  # Replace "*" with your Django version if needed
Pillow = "*"  # Replace "*" with the desired Pillow version

[requires]
python_version = "3.11"
